@import url(reset.css);

.body {
	width: 1440px;
	background: white;
}

.header{
	height: 60px;
	background-color: #FE1A19;
}
.header-container {
	color: white;
	font-family: Helvetica;
	font-size: 20px;
	padding-left: 20px;
	padding-top: 20px;
}
main {
	font-size: 0px;
}
.box1 {
	width: 400px;
	margin: 52px 50px 52px 70px;
	border-radius: 30px;
	box-sizing: border-box;
	border: 5px solid #E5E000;
	display: inline-block;
}
.box2 {
	width: 400px;
	margin: 52px 50px 52px 0px;
	border-radius: 30px;
	box-sizing: border-box;
	border: 5px solid #E5E000;
	display: inline-block;
}
.box3 {
	width: 400px;
	margin: 52px 70px 52px 0px;
	border-radius: 30px;
	box-sizing: border-box;
	border: 5px solid #E5E000;
	display: inline-block;
}
.title {
	margin-left: 33px;
	margin-top: 33px;
	color: black;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 20px;
}
h2.almond, h2.custard, h2.topping {
	padding-left: 33px;
	color: black;
	font-family: Times New Roman;
	font-size: 20px;
}
h2.tart {
	padding-left: 33px;
	padding-top: 41px;
	color: black;
	font-family: Times New Roman;
	font-size: 20px;
}
ul {
	margin: 0px 33px 33px 33px;
	color: black;
	font-family: Times New Roman;
	font-size: 20px;
	line-height: 23px;
}
.footer {
	height: 60px;
	background-color: #FE1A19;
}
.footer-container1 {
	color: white;
	font-family: Helvetica;
	font-size: 20px;
	display: inline-block;
	padding-top: 20px;
	padding-left: 20px;
}
.footer-container2 {
	color: white;
	font-family: Helvetica;
	font-size: 20px;
	display: block;
	padding-top: 20px;
	padding-right: 20px;
	float: right;
}