.header-container, #bio, section .section-text, section h2, #links  {
	background: black;
	color: white;
}
body {
	background: DarkSlateGrey;
	color: LightSalmon;
}
a {
	color: Azure;
}
.main-text, li {
	font-size: 25px;
}
